In [1]:
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

In [2]:
import os
import pandas as pd

def create_dir(parent_path):
    if not os.path.exists(os.path.join(parent_path, 'grade0')):
        os.makedirs(os.path.join(parent_path, 'grade0'))

    if not os.path.exists(os.path.join(parent_path, 'grade1')):
        os.makedirs(os.path.join(parent_path, 'grade1'))

    if not os.path.exists(os.path.join(parent_path, 'grade2')):
        os.makedirs(os.path.join(parent_path, 'grade2'))
    

create_dir("./")

In [3]:
data_dir = 'data/test/'

In [4]:
data_df = pd.read_csv('test.csv')
print(data_df.head())

  Image name  Retinopathy grade  Risk of macular edema
0  IDRiD_001                  4                       0
1  IDRiD_002                  4                       1
2  IDRiD_003                  4                       0
3  IDRiD_004                  4                       0
4  IDRiD_005                  4                       1

In [5]:
data_df.rename(columns={"Image name":"Image_name","Retinopathy grade":"grade_dr", "Risk of macular edema ":"risk_edema"}, inplace = True)

In [6]:
print(data_df.head())

  Image_name  grade_dr  risk_edema
0  IDRiD_001         4           0
1  IDRiD_002         4           1
2  IDRiD_003         4           0
3  IDRiD_004         4           0
4  IDRiD_005         4           1

In [ ]:
# data_df.drop(["Unnamed: 3", "Unnamed: 4", "Unnamed: 5", "Unnamed: 6", "Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10","Unnamed: 11"],
#         axis=1, inplace = True)

In [ ]:
# print(data_df.head())

In [7]:
mask0 = data_df['risk_edema'].isin([0])
class0 = data_df[mask0]
print(class0.shape)
class0.head()

(45, 3)

   Image_name  grade_dr  risk_edema
0   IDRiD_001         4           0
2   IDRiD_003         4           0
3   IDRiD_004         4           0
6   IDRiD_007         3           0
28  IDRiD_029         0           0

In [8]:
mask1 = data_df['risk_edema'].isin([1])
class1 = data_df[mask1]
print(class1.shape)
class1.head()

(10, 3)

   Image_name  grade_dr  risk_edema
1   IDRiD_002         4           1
4   IDRiD_005         4           1
5   IDRiD_006         3           1
30  IDRiD_031         3           1
31  IDRiD_032         4           1

In [9]:
mask2 = data_df['risk_edema'].isin([2])
class2 = data_df[mask2]
print(class2.shape)
class2.head()

(48, 3)

   Image_name  grade_dr  risk_edema
7   IDRiD_008         2           2
8   IDRiD_009         2           2
9   IDRiD_010         2           2
10  IDRiD_011         2           2
11  IDRiD_012         2           2

### Move files

In [10]:
for index, image in enumerate(class0['Image_name']):
    image_path = os.path.join(data_dir, image + '.jpg')
    print(image_path)
    image = image + '.jpg'
    os.rename(image_path, os.path.join('grade0', image))

data/test/IDRiD_001.jpg
data/test/IDRiD_003.jpg
data/test/IDRiD_004.jpg
data/test/IDRiD_007.jpg
data/test/IDRiD_029.jpg
data/test/IDRiD_030.jpg
data/test/IDRiD_037.jpg
data/test/IDRiD_038.jpg
data/test/IDRiD_039.jpg
data/test/IDRiD_041.jpg
data/test/IDRiD_043.jpg
data/test/IDRiD_044.jpg
data/test/IDRiD_045.jpg
data/test/IDRiD_047.jpg
data/test/IDRiD_050.jpg
data/test/IDRiD_052.jpg
data/test/IDRiD_054.jpg
data/test/IDRiD_055.jpg
data/test/IDRiD_056.jpg
data/test/IDRiD_058.jpg
data/test/IDRiD_060.jpg
data/test/IDRiD_063.jpg
data/test/IDRiD_064.jpg
data/test/IDRiD_068.jpg
data/test/IDRiD_069.jpg
data/test/IDRiD_070.jpg
data/test/IDRiD_071.jpg
data/test/IDRiD_073.jpg
data/test/IDRiD_074.jpg
data/test/IDRiD_075.jpg
data/test/IDRiD_077.jpg
data/test/IDRiD_078.jpg
data/test/IDRiD_080.jpg
data/test/IDRiD_085.jpg
data/test/IDRiD_090.jpg
data/test/IDRiD_092.jpg
data/test/IDRiD_093.jpg
data/test/IDRiD_094.jpg
data/test/IDRiD_095.jpg
data/test/IDRiD_096.jpg
data/test/IDRiD_097.jpg
data/test/IDRiD_098.jpg
data/test/IDRiD_099.jpg
data/test/IDRiD_101.jpg
data/test/IDRiD_103.jpg

In [11]:
for index, image in enumerate(class1['Image_name']):
    image_path = os.path.join(data_dir, image + '.jpg')
    print(image_path)
    image = image + '.jpg'
    os.rename(image_path, os.path.join('grade1', image))

data/test/IDRiD_002.jpg
data/test/IDRiD_005.jpg
data/test/IDRiD_006.jpg
data/test/IDRiD_031.jpg
data/test/IDRiD_032.jpg
data/test/IDRiD_040.jpg
data/test/IDRiD_042.jpg
data/test/IDRiD_046.jpg
data/test/IDRiD_076.jpg
data/test/IDRiD_100.jpg

In [12]:
for index, image in enumerate(class2['Image_name']):
    image_path = os.path.join(data_dir, image + '.jpg')
    print(image_path)
    image = image + '.jpg'
    os.rename(image_path, os.path.join('grade2', image))

data/test/IDRiD_008.jpg
data/test/IDRiD_009.jpg
data/test/IDRiD_010.jpg
data/test/IDRiD_011.jpg
data/test/IDRiD_012.jpg
data/test/IDRiD_013.jpg
data/test/IDRiD_014.jpg
data/test/IDRiD_015.jpg
data/test/IDRiD_016.jpg
data/test/IDRiD_017.jpg
data/test/IDRiD_018.jpg
data/test/IDRiD_019.jpg
data/test/IDRiD_020.jpg
data/test/IDRiD_021.jpg
data/test/IDRiD_022.jpg
data/test/IDRiD_023.jpg
data/test/IDRiD_024.jpg
data/test/IDRiD_025.jpg
data/test/IDRiD_026.jpg
data/test/IDRiD_027.jpg
data/test/IDRiD_028.jpg
data/test/IDRiD_033.jpg
data/test/IDRiD_034.jpg
data/test/IDRiD_035.jpg
data/test/IDRiD_036.jpg
data/test/IDRiD_048.jpg
data/test/IDRiD_049.jpg
data/test/IDRiD_051.jpg
data/test/IDRiD_053.jpg
data/test/IDRiD_057.jpg
data/test/IDRiD_059.jpg
data/test/IDRiD_061.jpg
data/test/IDRiD_062.jpg
data/test/IDRiD_065.jpg
data/test/IDRiD_066.jpg
data/test/IDRiD_067.jpg
data/test/IDRiD_072.jpg
data/test/IDRiD_079.jpg
data/test/IDRiD_081.jpg
data/test/IDRiD_082.jpg
data/test/IDRiD_083.jpg
data/test/IDRiD_084.jpg
data/test/IDRiD_086.jpg
data/test/IDRiD_087.jpg
data/test/IDRiD_088.jpg
data/test/IDRiD_089.jpg
data/test/IDRiD_091.jpg
data/test/IDRiD_102.jpg